.dialogs{
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    
    padding: 10px;

}
.dialog{
    width: 100%;
    color: black;
}
.messages{
    padding: 10px;
}
.active{
    color:gold;
}
.user{
    opacity: 0.95;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
    transition: .3s;

}
.user img{ 
    border: 2px solid rgb(179, 2, 2);
    border-radius: 50%;
    max-width: 70px;
}
.user:hover {
    opacity: 1;
}
